* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(#2e2e2d, #d6a502, #2e2e2d)     
}
header{
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-color: white;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(22, 21, 21);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;
    font-family: papyrus    ;
}
.logodesc{
    color: white;
    font-size: 18px;
    font-family: papyrus;
}
span{
    color: rgb(200, 161, 7);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: papyrus;
}
nav ul li a:hover{
    color: rgb(200, 161, 7);
    transition: .3s;
}
#monaspaknight{
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
button{
    border: none;
    background: rgb(200, 161, 7);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: .4s;
    font-family: papyrus;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.mainbox{
    display: flex;
    justify-content: space-around;
}
.titledbox{
    color: white;
    height: 400px;
}
.imagebox{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 320px;
    height: 300px;
}
.titledbox h2{
    text-decoration: none;
    margin-top: 60px;
    text-align: center;
    font-family: papyrus;
}
.titledbox:hover{
    transform:scale(1.2);
    cursor: pointer;
    transition: 1s;
    transition-delay: .2s;
    color: rgb(200, 161, 7);
}
.imagebox img{
    width: 320px;
    height: 300px;
}
footer{
    border-top: solid 2px;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: white;
    background-color: rgb(22, 21, 21);
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.webpage{
    margin-left: 150px;
    margin-right: 150px;
}
.section1{
    margin-top: 30px;
    border: solid 2px;
    border-color: white;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 450px;
}
.section2{
    margin-top: 30px;
    border: solid 2px;
    border-color: white;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: papyrus;
}
.general h3{
    margin-top: 30px;
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: papyrus;
}
p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
}
a{
    text-decoration: none;
}
#scenariomap{
    width: 700px;
    height: 500px;
    margin-top: 20px;
}
.scenoverview-sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border: solid 2px;
    border-color: white;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: papyrus;
}
.scenoverview-sec1 h1{
    margin-top: 40px;
    font-size: 30px;
}
.scenoverview-sec1 h2{
    font-size: 20px;
    color: #d6a502;
    margin-top: 20px;
}
.item-sec1{
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border: solid 2px;
    border-color: white;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: papyrus;
}
.item-sec1 ul{
    margin-left: 30px;
    margin-top: 20px;
}
.item-sec1 h2{
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}